<div>
  <div class="form">
    <%= simple_form_for [ @body, @trip ] do |f| %>
      <%= f.input :arrival_date, placeholder: "01.01.2021" %>
      <%= f.input :departure_date, placeholder: "30.06.2021" %>
      <%= f.submit "Add", class: "center" %>
    <% end %>
  </div>
</div>
