<h1>My trips</h1>

<div class="container">
  <%= @trips.each do |trip| %>
    <div class="card" style="width: 22rem;">
      <%= image_tag "home-banner-min.jpg", alt: "alttext", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= "Trip to #{trip.body.name}" %></h5>
        <p class="card-text"><%= "#{trip.departure_date} - #{trip.arrival_date}"%></p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
  <% end %>
</div>






<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4 mb-4">Discover the space</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 mb-3">

    </div>
  </div>
</div>
