// Specific CSS for your home-page
// Specific CSS for your home-page
body {
  background-color: #FFFFFF;
  font-family: 'Space Grotesk', 'Helvetica', sans-serif;
}

.container-one {
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.link-banner {
  text-decoration: none;
  color: $gray;

  :hover>& {
    text-decoration: none;
    color: $gray;
  }
}

