<%= link_to body_path(@moon.first.id), class: "link-banner" do %>
<div class="card-product my-3">
  <div class="card-product-infos">
    <h2>Moon</h2>
    <p>Click here and get the chance to have an amazing time!</p>
  </div>
   <%= image_tag @moon.first.image, alt: "Landscape of Mars" %>
</div>
<% end %>
