<%= link_to body_path(@mars.first.id), class: "link-banner" do %>
<div class="card-product my-3 position-relative">
  <%= image_tag @mars.first.image, alt: "Landscape of Mars" %>
  <div class="card-product-infos">
    <h2>Mars</h2>
    <p>Click here and book your next trip to the red planet!</p>
  </div>
</div>
<% end %>

