.card-category {
  // Temporary picture
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), asset-url('home-banner-min');
  // Temporary picture
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  a {
    color: $white;
    text-decoration: none;
  }
}

.card-trip {
  border-radius: 5px;

  .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card-date {
    color: rgb(113, 113, 113);
    font-size: 12px;
    line-height: 16px;
  }
}

.card-product {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product img {
  height: 100%;
  width: 600px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 2rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
