.form {
  padding: 10px;
  border-radius: 10px;
}

label {
  border-radius: 5px;
  margin:auto;
  padding-left: 8rem;
}

input {
  margin: 9rem;
  margin-top: 20px;
  padding:auto;
}
.form-control {
  border-radius: 10px;
  width: 200px;
}

