.form {
  padding: 10px;
  border-radius: 5px;
}

label {
  border-radius: 5px;
  padding-left:5px;
}

input {
  margin: 120px;
  margin-top: 20px;
  padding:auto;
}
.form-control {
  border-radius: 10px;
}

